/*background color*/
.greenWrap{
    background-color: rgb(28,119,42);
}
.greyWrap{
    background-color: grey;
}
.blueWrap{
    background-color: rgb(31, 112, 233);
}

/*navigation bar*/
.navbar{
    color: white;
}
.navbar a{
    text-decoration: none;
    color:white;
    font-size: 13px;
    margin-right:10px;
}
.navbar a:hover{
    text-decoration:underline;
}

/*intro*/
.intro{
    color: white;
}

/*services*/
.services img{
    max-height: 100px;
    border-radius: 10px;
}